sag-dvse/src/main/resources/shop_facade_1.wsdl

        <!--
         Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980.
        -->
        <!--
         Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980.
        -->
<definitions xmlns:tns="http://sei.shopfacade.ws.ebl.sagag.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://sei.shopfacade.ws.ebl.sagag.com/">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://sei.shopfacade.ws.ebl.sagag.com/" schemaLocation="https://shop.technomag.ch:443/ShopFacade?xsd=1"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://eshop.sag.ch/types/value" schemaLocation="https://shop.technomag.ch:443/ShopFacade?xsd=8"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://eshop.sag.ch/types/uid" schemaLocation="https://shop.technomag.ch:443/ShopFacade?xsd=9"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://eshop.sag.ch/types/transaction" schemaLocation="https://shop.technomag.ch:443/ShopFacade?xsd=10"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://eshop.sag.ch/types/specificservices" schemaLocation="https://shop.technomag.ch:443/ShopFacade?xsd=11"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://eshop.sag.ch/types/session" schemaLocation="https://shop.technomag.ch:443/ShopFacade?xsd=12"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://eshop.sag.ch/types/organisation" schemaLocation="https://shop.technomag.ch:443/ShopFacade?xsd=13"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://eshop.sag.ch/types/model" schemaLocation="https://shop.technomag.ch:443/ShopFacade?xsd=14"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://eshop.sag.ch/types/mission" schemaLocation="https://shop.technomag.ch:443/ShopFacade?xsd=15"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://eshop.sag.ch/types/feature" schemaLocation="https://shop.technomag.ch:443/ShopFacade?xsd=2"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://eshop.sag.ch/types/entity" schemaLocation="https://shop.technomag.ch:443/ShopFacade?xsd=3"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://eshop.sag.ch/types/description" schemaLocation="https://shop.technomag.ch:443/ShopFacade?xsd=4"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://eshop.sag.ch/types/customer" schemaLocation="https://shop.technomag.ch:443/ShopFacade?xsd=5"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://eshop.sag.ch/types/authority" schemaLocation="https://shop.technomag.ch:443/ShopFacade?xsd=6"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://eshop.sag.ch/elements" schemaLocation="https://shop.technomag.ch:443/ShopFacade?xsd=7"/>
        </xsd:schema>
    </types>
    <message name="ping">
        <part name="parameters" element="tns:ping"/>
    </message>
    <message name="pingResponse">
        <part name="parameters" element="tns:pingResponse"/>
    </message>
    <message name="inquiry">
        <part name="parameters" element="tns:inquiry"/>
    </message>
    <message name="inquiryResponse">
        <part name="parameters" element="tns:inquiryResponse"/>
    </message>
    <message name="validateRecognition">
        <part name="parameters" element="tns:validateRecognition"/>
    </message>
    <message name="validateRecognitionResponse">
        <part name="parameters" element="tns:validateRecognitionResponse"/>
    </message>
    <message name="doLogin">
        <part name="parameters" element="tns:doLogin"/>
    </message>
    <message name="doLoginResponse">
        <part name="parameters" element="tns:doLoginResponse"/>
    </message>
    <message name="doLogout">
        <part name="parameters" element="tns:doLogout"/>
    </message>
    <message name="doLogoutResponse">
        <part name="parameters" element="tns:doLogoutResponse"/>
    </message>
    <message name="getArticleInfo">
        <part name="parameters" element="tns:getArticleInfo"/>
    </message>
    <message name="getArticleInfoResponse">
        <part name="parameters" element="tns:getArticleInfoResponse"/>
    </message>
    <message name="getArticleInfoDetailed">
        <part name="parameters" element="tns:getArticleInfoDetailed"/>
    </message>
    <message name="getArticleInfoDetailedResponse">
        <part name="parameters" element="tns:getArticleInfoDetailedResponse"/>
    </message>
    <message name="orderArticles">
        <part name="parameters" element="tns:orderArticles"/>
    </message>
    <message name="orderArticlesResponse">
        <part name="parameters" element="tns:orderArticlesResponse"/>
    </message>
    <portType name="ShopFacade">
        <operation name="ping">
            <input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="http://sei.shopfacade.ws.ebl.sagag.com/ShopFacade/pingRequest" message="tns:ping"/>
            <output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://sei.shopfacade.ws.ebl.sagag.com/ShopFacade/pingResponse" message="tns:pingResponse"/>
        </operation>
        <operation name="inquiry">
            <input xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" ns3:Action="http://sei.shopfacade.ws.ebl.sagag.com/ShopFacade/inquiryRequest" message="tns:inquiry"/>
            <output xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="http://sei.shopfacade.ws.ebl.sagag.com/ShopFacade/inquiryResponse" message="tns:inquiryResponse"/>
        </operation>
        <operation name="validateRecognition">
            <input xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="http://sei.shopfacade.ws.ebl.sagag.com/ShopFacade/validateRecognitionRequest" message="tns:validateRecognition"/>
            <output xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://sei.shopfacade.ws.ebl.sagag.com/ShopFacade/validateRecognitionResponse" message="tns:validateRecognitionResponse"/>
        </operation>
        <operation name="doLogin">
            <input xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" ns7:Action="http://sei.shopfacade.ws.ebl.sagag.com/ShopFacade/doLoginRequest" message="tns:doLogin"/>
            <output xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" ns8:Action="http://sei.shopfacade.ws.ebl.sagag.com/ShopFacade/doLoginResponse" message="tns:doLoginResponse"/>
        </operation>
        <operation name="doLogout">
            <input xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata" ns9:Action="http://sei.shopfacade.ws.ebl.sagag.com/ShopFacade/doLogoutRequest" message="tns:doLogout"/>
            <output xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata" ns10:Action="http://sei.shopfacade.ws.ebl.sagag.com/ShopFacade/doLogoutResponse" message="tns:doLogoutResponse"/>
        </operation>
        <operation name="getArticleInfo">
            <input xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata" ns11:Action="http://sei.shopfacade.ws.ebl.sagag.com/ShopFacade/getArticleInfoRequest" message="tns:getArticleInfo"/>
            <output xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata" ns12:Action="http://sei.shopfacade.ws.ebl.sagag.com/ShopFacade/getArticleInfoResponse" message="tns:getArticleInfoResponse"/>
        </operation>
        <operation name="getArticleInfoDetailed">
            <input xmlns:ns13="http://www.w3.org/2007/05/addressing/metadata" ns13:Action="http://sei.shopfacade.ws.ebl.sagag.com/ShopFacade/getArticleInfoDetailedRequest" message="tns:getArticleInfoDetailed"/>
            <output xmlns:ns14="http://www.w3.org/2007/05/addressing/metadata" ns14:Action="http://sei.shopfacade.ws.ebl.sagag.com/ShopFacade/getArticleInfoDetailedResponse" message="tns:getArticleInfoDetailedResponse"/>
        </operation>
        <operation name="orderArticles">
            <input xmlns:ns15="http://www.w3.org/2007/05/addressing/metadata" ns15:Action="http://sei.shopfacade.ws.ebl.sagag.com/ShopFacade/orderArticlesRequest" message="tns:orderArticles"/>
            <output xmlns:ns16="http://www.w3.org/2007/05/addressing/metadata" ns16:Action="http://sei.shopfacade.ws.ebl.sagag.com/ShopFacade/orderArticlesResponse" message="tns:orderArticlesResponse"/>
        </operation>
    </portType>
</definitions>
