sag-dvse/src/main/resources/unicat_catalog_endpoint.wsdl

<wsdl:definitions xmlns:tns="UNICAT"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	name="UNICATWebServiceV23" targetNamespace="UNICAT">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified" targetNamespace="UNICAT">
			<xs:element name="GetArticleInformations">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="User"
							type="tns:User" />
						<xs:element minOccurs="1" maxOccurs="unbounded"
							name="Items" type="tns:UnicatArrayOfItem" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="User">
				<xs:sequence>
					<xs:element minOccurs="1" maxOccurs="1" name="Username"
						type="xs:string" />
					<xs:element minOccurs="1" maxOccurs="1" name="Sid"
						type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="UnicatArrayOfItem">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded"
						name="UnicatItem" nillable="true" type="tns:UnicatItem" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="UnicatItem">
				<xs:sequence>
					<xs:element minOccurs="1" maxOccurs="1" name="ArticleId"
						type="xs:string" />
					<xs:element minOccurs="0" maxOccurs="1"
						name="RequestedQuantity" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="SendOrder">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1"
							name="ArticleId" type="xs:string" />
						<xs:element minOccurs="0" maxOccurs="1"
							name="RequestedQuantity" type="xs:int" />
						<xs:element minOccurs="1" maxOccurs="1" name="Sid"
							type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetArticleInformationResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="1"
							name="GetArticleInformationResult" type="tns:GetBackItems" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="GetBackItems">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="1" name="Items"
						type="tns:ArrayOfItem" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ArrayOfItem">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded"
						name="Item" nillable="true" type="tns:Item" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Item">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="1" name="ArticleId"
						type="xs:string" />
					<xs:element minOccurs="0" maxOccurs="1" name="Prices"
						type="tns:ArrayOfPrice" />
					<xs:element minOccurs="0" maxOccurs="1"
						name="Quantities" type="tns:ArrayOfQuantity" />
					<xs:element minOccurs="0" maxOccurs="1"
						name="AlternativeItems" type="tns:ArrayOfItem" />
					<xs:element minOccurs="0" maxOccurs="1"
						name="AvailState" type="tns:AvailableState" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="AvailableState">
				<xs:sequence>
					<xs:element minOccurs="1" maxOccurs="1"
						name="AvailState" type="xs:int" />
					<xs:element minOccurs="0" maxOccurs="1"
						name="AvailDescription" type="xs:string" />
					<xs:element minOccurs="0" maxOccurs="1"
						name="AvailIconUrl" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ArrayOfQuantity">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded"
						name="Quantity" nillable="true" type="tns:Quantity" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ArrayOfPrice">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded"
						name="Price" nillable="true" type="tns:Price" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Price">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="1" name="Id"
						type="xs:string" />
					<xs:element minOccurs="0" maxOccurs="1"
						name="Description" type="xs:string" />
					<xs:element minOccurs="1" maxOccurs="1" name="Value"
						type="xs:decimal" />
					<xs:element minOccurs="1" maxOccurs="1" name="VAT"
						type="xs:decimal" />
					<xs:element minOccurs="1" maxOccurs="1"
						name="TaxIncluded" type="xs:boolean" />
					<xs:element minOccurs="0" maxOccurs="1"
						name="CurrencyCode" type="xs:string" />
					<xs:element minOccurs="1" maxOccurs="1" name="Rebate"
						type="xs:decimal" />
					<xs:element minOccurs="0" maxOccurs="1" name="BatchSize"
						type="tns:Quantity" />
					<xs:element minOccurs="1" maxOccurs="1" name="PriceCode"
						type="xs:int" />
					<xs:element minOccurs="0" maxOccurs="1" name="Memo"
						type="tns:ArrayOfString" />
					<xs:element minOccurs="1" maxOccurs="1" name="PriceUnit"
						type="xs:decimal" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Quantity">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="1" name="Id"
						type="xs:string" />
					<xs:element minOccurs="0" maxOccurs="1"
						name="Description" type="xs:string" />
					<xs:element minOccurs="1" maxOccurs="1" name="Value"
						type="xs:decimal" />
					<xs:element minOccurs="0" maxOccurs="1"
						name="QuantityUnit" type="xs:string" />
					<xs:element minOccurs="0" maxOccurs="1"
						name="PackingUnit" type="xs:string" />
					<xs:element minOccurs="1" maxOccurs="1"
						name="MinQuantity" type="xs:decimal" />
					<xs:element minOccurs="1" maxOccurs="1"
						name="MaxQuantity" type="xs:decimal" />
					<xs:element minOccurs="0" maxOccurs="1"
						name="ExpectedDeliveryTime" type="xs:string" />
					<xs:element minOccurs="0" maxOccurs="1"
						name="AvailState" type="tns:AvailableState" />
					<xs:element minOccurs="0" maxOccurs="1" name="Memo"
						type="tns:ArrayOfString" />
					<xs:element minOccurs="1" maxOccurs="1" name="LotSize1"
						type="xs:int" />
					<xs:element minOccurs="1" maxOccurs="1" name="LotSize2"
						type="xs:int" />
					<xs:element minOccurs="1" maxOccurs="1" name="Division"
						type="xs:decimal" />
					<xs:element minOccurs="1" maxOccurs="1"
						name="QuantityPackingUnit" type="xs:decimal" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ArrayOfString">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded"
						name="string" nillable="true" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="SendOrderResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="1"
							name="SendOrderResult" type="tns:GetBackOrder" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="GetBackOrder">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="1" name="Item"
						type="tns:Order" />
					<xs:element minOccurs="0" maxOccurs="1"
						name="OrderedItems" type="tns:ArrayOfItem" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Order">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="OrderId"
                                type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="OwnOrderId"
                                type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="Memo"
                                type="tns:ArrayOfString"/>
                    <xs:element minOccurs="0" maxOccurs="1"
                                name="DeliveryAddress" type="tns:Address"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="ShipmentMode"
                                type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="PaymentMode"
                                type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="BillingMode"
                                type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="Warehouse"
                                type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="TourId"
                                type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1"
                                name="ExpectedDelivery" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1"
                                name="WantedDelivery" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Address">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="AddressId"
                                type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="FirstName"
                                type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="LastName"
                                type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="CompanyName"
                                type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="Contact"
                                type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="Street"
                                type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="ZipCode"
                                type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="City"
                                type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="Country"
                                type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="Phone"
                                type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="Fax"
                                type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="EMail"
                                type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="CustomerId"
                                type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message
		name="IServiceV23_GetArticleInformation_InputMessage">
		<wsdl:part name="parameters"
			element="tns:GetArticleInformations" />
	</wsdl:message>
	<wsdl:message
		name="IServiceV23_GetArticleInformation_OutputMessage">
		<wsdl:part name="parameters"
			element="tns:GetArticleInformationResponse" />
	</wsdl:message>
	<wsdl:message name="IServiceV23_SendOrder_InputMessage">
		<wsdl:part name="parameters" element="tns:SendOrder" />
	</wsdl:message>
	<wsdl:message name="IServiceV23_SendOrder_OutputMessage">
		<wsdl:part name="parameters" element="tns:SendOrderResponse" />
	</wsdl:message>
	<wsdl:portType name="IServiceV23">
		<wsdl:operation name="GetArticleInformations">
			<wsdl:input
				wsaw:Action="UNICAT/IServiceV23/GetArticleInformations"
				message="tns:IServiceV23_GetArticleInformation_InputMessage" />
			<wsdl:output
				wsaw:Action="UNICAT/IServiceV23/GetArticleInformationResponse"
				message="tns:IServiceV23_GetArticleInformation_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="SendOrder">
			<wsdl:input wsaw:Action="UNICAT/IServiceV23/SendOrder"
				message="tns:IServiceV23_SendOrder_InputMessage" />
			<wsdl:output
				wsaw:Action="UNICAT/IServiceV23/SendOrderResponse"
				message="tns:IServiceV23_SendOrder_OutputMessage" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BasicHttpBinding_IServiceV23"
		type="tns:IServiceV23">
		<soap:binding
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetArticleInformations">
			<soap:operation
				soapAction="UNICAT/IServiceV23/GetArticleInformations"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SendOrder">
			<soap:operation
				soapAction="UNICAT/IServiceV23/SendOrder" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

	</wsdl:binding>
	<wsdl:service name="UNICATWebServiceV23">
		<wsdl:port name="BasicHttpBinding_IServiceV23"
			binding="tns:BasicHttpBinding_IServiceV23">
			<soap:address location="https://connect-int.sag.services/dvse-st/ws/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
