sag-dvse/src/main/resources/xsd/xsd12.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><xs:schema xmlns:tns="http://eshop.sag.ch/types/session" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://eshop.sag.ch/types/session">

<xs:complexType name="session">
<xs:sequence/>
<xs:attribute name="id" type="xs:string" use="required"/>
<xs:attribute name="state" type="tns:sessionstate" use="required"/>
</xs:complexType>

<xs:simpleType name="sessionstate">
<xs:restriction base="xs:string">
<xs:enumeration value="UNKNOWN"/>
<xs:enumeration value="INIT"/>
<xs:enumeration value="REQUESTED"/>
<xs:enumeration value="ACTIVE"/>
<xs:enumeration value="INACTIVE"/>
<xs:enumeration value="TERMINATED"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>