sag-dvse/src/main/resources/xsd/xsd1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><xs:schema xmlns:tns="http://sei.shopfacade.ws.ebl.sagag.com/" xmlns:ns4="http://eshop.sag.ch/types/model" xmlns:ns3="http://eshop.sag.ch/types/transaction" xmlns:ns2="http://eshop.sag.ch/types/specificservices" xmlns:ns1="http://eshop.sag.ch/elements" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://sei.shopfacade.ws.ebl.sagag.com/">

<xs:import namespace="http://eshop.sag.ch/elements" schemaLocation="xsd7.xsd"/>

<xs:import namespace="http://eshop.sag.ch/types/specificservices" schemaLocation="xsd11.xsd"/>

<xs:import namespace="http://eshop.sag.ch/types/transaction" schemaLocation="xsd10.xsd"/>

<xs:import namespace="http://eshop.sag.ch/types/model" schemaLocation="xsd14.xsd"/>

<xs:element name="doLogin" type="tns:doLogin"/>

<xs:element name="doLoginResponse" type="tns:doLoginResponse"/>

<xs:element name="doLogout" type="tns:doLogout"/>

<xs:element name="doLogoutResponse" type="tns:doLogoutResponse"/>

<xs:element name="getArticleInfo" type="tns:getArticleInfo"/>

<xs:element name="getArticleInfoDetailed" type="tns:getArticleInfoDetailed"/>

<xs:element name="getArticleInfoDetailedResponse" type="tns:getArticleInfoDetailedResponse"/>

<xs:element name="getArticleInfoResponse" type="tns:getArticleInfoResponse"/>

<xs:element name="inquiry" type="tns:inquiry"/>

<xs:element name="inquiryResponse" type="tns:inquiryResponse"/>

<xs:element name="orderArticles" type="tns:orderArticles"/>

<xs:element name="orderArticlesResponse" type="tns:orderArticlesResponse"/>

<xs:element name="ping" type="tns:ping"/>

<xs:element name="pingResponse" type="tns:pingResponse"/>

<xs:element name="validateRecognition" type="tns:validateRecognition"/>

<xs:element name="validateRecognitionResponse" type="tns:validateRecognitionResponse"/>

<xs:complexType name="getArticleInfo">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0"/>
<xs:element name="articleIds" type="ns2:articleid" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getArticleInfoResponse">
<xs:sequence>
<xs:element name="articleInfos" type="ns2:articleinfo" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validateRecognition">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validateRecognitionResponse">
<xs:sequence>
<xs:element ref="ns1:validatedRecognition" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="doLogout">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="doLogoutResponse">
<xs:sequence>
<xs:element name="tokenStatus" type="ns2:recognitionstate" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="doLogin">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="accessPoint" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="doLoginResponse">
<xs:sequence>
<xs:element ref="ns1:validatedRecognition" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inquiry">
<xs:sequence>
<xs:element name="request" type="ns4:query" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inquiryResponse">
<xs:sequence>
<xs:element name="response" type="ns4:query" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getArticleInfoDetailed">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0"/>
<xs:element name="articleIds" type="ns2:articleid" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getArticleInfoDetailedResponse">
<xs:sequence>
<xs:element name="articleInfos" type="ns2:articleinfo" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="orderArticles">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0"/>
<xs:element name="articleIds" type="ns2:articleid" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="orderArticlesResponse">
<xs:sequence>
<xs:element name="articleIds" type="ns2:articleid" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ping">
<xs:sequence>
<xs:element name="clientmessage" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pingResponse">
<xs:sequence>
<xs:element name="servermessage" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
