sag-dvse/src/main/resources/xsd/xsd4.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://eshop.sag.ch/types/description">

<xs:complexType name="description">
<xs:sequence/>
<xs:attribute name="text" type="xs:string"/>
<xs:attribute name="ref" type="xs:string"/>
<xs:attribute name="lang" type="xs:string" use="required"/>
</xs:complexType>
</xs:schema>